
.navigation-bar ul {
    padding: 0%;
    margin: 0%;
    float: left;
    height: max-content;

    
}
.navigation-bar ul li {
    background-color: rgb(39, 254, 86);
    position: relative;
    display: inline-block;
}
.navigation-bar ul li a {
    display: block;
    color: rgb(28, 171, 207);
    padding: 0 15px;
    list-style: none;
    line-height: 50px;
    font-size: 20px;

}
.navigation-bar ul li a:hover {
    background-color: grey;
}
.navigation-bar ul ul {
    position: absolute;
    top: 60px;
    display: none;

}
.navigation-bar ul li:hover > ul{
    display: block;
}
.navigation-bar ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
.navigation-bar ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;

}

